@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add your global styles below this line */
html, body, #root {
	height: 100%;
}
body {
	margin: 0;
	font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
